body {
  background-image: url(http://i.space.com/images/i/000/023/497/wW4/most-distant-quasar-1920.jpg?1352488857);
  opacity: 0.4;
}
.ball {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

#names {
  color: white;
  display: flex;
  margin-right: 100px;
  position: relative;
  top: 50px;
  left: 50px;
  margin-right: 50px;
}

#nameEarth, #nameMoon, #nameMars, #nameUranus {
  margin-right: 65px;
  margin-top: 20px;
  left: 15px;
  position: relative;
}

#nameNeptune, #namePluto, #nameMercury,  #nameJupiter {
  margin-right: 45px;
  margin-top: 20px;
  left: -10px;
  position: relative;
}

#nameSaturn, #nameVenus {
  margin-right: 50px;
  margin-top: 20px;
  left: 5px;
  position: relative;
}

img {
  display: inline;
  width: 80px;
  position: relative;
  left: 50px;
  top: 50px;
  margin-right: 30px;
}

button {
  color: white;
  font-weight: bold;
  background-color: gray;
  height: 40px;
  width: 50px;
  font-family: monospace;
  position: relative;
  left: 1200px;
  top: -100px;
}

#earth, #moon, #neptune, #mars, #uranus, #jupiter, #mercury, #pluto, #saturn, #venus {
  display: inline;
}

.socialMediaIcons {
  display: inline;
  padding: 0;
}
.icon-octoface {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #DDDDDD;
}
.smIcon {
  display: inline-block;
}

#footer {
  padding-top: 100px;
  color: #A6B0B0;
  font-size: 85%;
  text-align: center;
	bottom: 0;
	left: 0;
  right: 0;
}
#footer a, #footer a:visited {
  color: #A6B0B0;
}
